# Python cache/bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
ENV/
env/
.venv/

# SQLite database files
*.db
*.sqlite3

# Flask/Migrate
instance/
.migrations/

# Pytest cache
.pytest_cache/

# VSCode/IDE config
.vscode/
.idea/

# Mac system files
.DS_Store

# Logs
*.log

# Env files
.env